/* css/style.css */
#video {
  width: 100%;
  height: 100%;
  /* Penting: Memaksa video untuk menutupi container penuh (edge-to-edge) */
  object-fit: cover; 
}

/* Styling untuk Tap Indicator */
.double-tap-indicator {
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  opacity: 0; 
  transition: opacity 0.3s;
  pointer-events: none; 
}
